#! /usr/bin/ruby

require "rumino/rumino"

PROGRAM = "<%=programpath%>"
LOGFILE = "<%=logpath%>"
PROGRAMLOGFILE = "<%=programlogpath%>"
PIDFILE = "<%=endlesspidpath%>"
PROGRAMPIDFILE = "<%=pidpath%>"
EMAILFROM = "<%=emailfrom%>"
EMAILTO = "<%=emailto%>"

def out( str )
  s = p(str)
  appendFile( LOGFILE, s )
end


#
# main
#

def main(argv)
  if argv.size != 1 then 
    eexit "Usage: endless.rb ENVCONFPATH"
  end

  confpath = argv[0]

  savePid( PIDFILE )

  out( "start endless (#{PROGRAM}) in #{Dir.pwd}" )

  while true 
    out( "starting #{PROGRAM} .." )
    st = Time.now
    cmd = "#{PROGRAM} #{confpath} > #{PROGRAMLOGFILE} 2>&1" 
    out(cmd)
    r = system(cmd)
    out( "program finished. result:#{r}" )
    et = Time.now

    if r then
     next
    end

    tail = `tail -50 #{LOGFILE}`
    tail += `tail -200 #{PROGRAMLOGFILE}`
    sendmail( EMAILFROM, EMAILTO, "server crash", tail )
    
    dt = et.to_i - st.to_i 
    if dt < 30 then
      out( "server crashed too quick. sleeping.." )
      sleep 30
    end

  end

end

trap("SIGTERM") do
  pid = File.open(PROGRAMPIDFILE).read.to_i
  cmd( "kill -TERM #{pid}" )
  out( "got sigterm. killing child process:#{pid}" )
  exit 0
end


main(ARGV)
